/* Remove borders around tabs */
.react-tabs__tab {
    border: none !important;
  }
  
  /* Remove background color for selected tab */
  .react-tabs__tab--selected {
    background-color: #e1e8ff !important;
    color: black !important;
  }