@import url("https://fonts.googleapis.com/css2?family=heading+Grotesk:wght@300;400;500;600;700;800&family=Inter:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* Navbar link custom css */

.navbar .menu li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  text-decoration: underline;
}

.navbar a.active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #4869dd !important;
  font-weight: 600 !important;
}

/* Custom scrollbar design */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4869dd;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* For React Tabs Custom Design */

.react-tabs__tab-list {
  text-align: center;
  border-bottom: 0 !important;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab--selected {
  background: #4869dd !important;
  border-color: none;
  color: white !important;
  border-radius: 0.2rem !important;
}

.react-tabs__tab {
  border: 1px solid #4869dd !important;
  margin: 0.7rem;
  padding: 0.4rem 1.1rem !important;
  border-radius: 0.2rem !important;
}
